*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     width: 100%;
     margin-top: 40px;
}
.users{
     font-family: 'Roboto', sans-serif;
     border-collapse: collapse;
     width: 50%;
     margin: 10px auto;
}
.container h1{
     color: #d3324d;
     text-transform: uppercase;
     text-align: center;
}
.users td, .users th {
     border: 1px solid #ddd;
     padding: 8px;
}
   
.users tr:nth-child(even){
     background-color: #f2f2f2;
}

.users tr:hover {
     background-color: #ddd;
}
   
.users th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #d3324d;
     color: white;
}
.container .btn-next{
     width: 50%;
     margin: 20px auto;
}
.container .btn-next button{
     padding: 10px 40px;
     cursor: pointer;
     background-color: #d3324d;
     color: white;
     border: 1px solid #d3324d;
}
.container .btn-next button:hover{
     background-color: #cc1332;
}
@media(max-width : 750px){
     .container .users{
          width: 60%;
     }
     .container .btn-next{
          width: 60%;
     }
}
@media(max-width : 470px){
     .container .users{
          width: 70%;
     }
     .container .btn-next{
          width: 70%;
     }
}